<form id="informations">
  <div class="form-group row">
    <label for="playerInput" class="col-sm-3">Joueur</label>
   <div class="col-sm-9">
     <input type="text" class="form-control" id="playerInput">
   </div>
  </div>
  <div class="form-group row">
    <label for="CharacterInput" class="col-sm-3">Personnage</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="CharacterInput">
    </div>
  </div>
  <div class="form-group row">
    <label for="PeopleInput" class="col-sm-3">Peuple</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="PeopleInput">
    </div>
  </div>
  <div class="form-group row">
    <label for="LevelInput" class="col-sm-3">Niveau</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="LevelInput">
    </div>
  </div>
  <div class="form-group row">
    <label for="ExperienceInput" class="col-sm-3">Experience</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="ExperienceInput">
    </div>
  </div>
</form>